Repository fernandoaleman/ansible-skeleton-role: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, yamllint, ansible-lint

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

isort:
  name: isort
  entry: isort
  language: system

yamllint:
  name: yamllint
  entry: yamllint
  language: system

ansible-lint:
  name: ansible-lint
  entry: ansible-lint
  language: system

Create setup.cfg for python configs and move pytest.ini settings to setup.cfg
  pytest.ini
  setup.cfg
Due: none

Set yamllint line length to 120
  .yamllint
Due: none

Fix typo
  README.md.j2
Due: none

Add divider to README.md.j2 template
  README.md.j2
Due: none

More updates to README.md.j2 template
  README.md.j2
Due: none

Add filename comments to top of file
  .markdownlint-cli2.yaml
  .pre-commit-config.yaml
  .yamllint
  Makefile
Due: yamllint, ansible-lint

Use ruff vs flake8 and isort for linting and formatting
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  README.md.j2
  setup.cfg
Due: yamllint, ansible-lint

Disable line length validations
  .ansible-lint
  .yamllint
  setup.cfg
Due: none

Update comments on validations
  .ansible-lint
  .markdownlint-cli2.yaml
  .yamllint
  setup.cfg
Due: yamllint, ansible-lint

Fix .gitignore file to correctly ignore directories and remove duplicate
  .gitignore
Due: none

Load vars from utils.py
  molecule/default/tests/test_default.py
  molecule/default/tests/utils.py
Due: black, flake8, isort

Update role_name to allow passing in namespace
  README.md.j2
  meta/main.yml.j2
  molecule/default/converge.yml.j2
Due: none

Set Ubuntu 24.04 as the default OS
  molecule/default/molecule.yml
  molecule/default/verify.yml
Due: yamllint, ansible-lint

Update default pytest-testinfra tests
  molecule/default/tests/test_default.py
  molecule/default/vars/all.yml
Due: black, flake8, isort, yamllint, ansible-lint

Add prepare playbook and change converge back to yaml file
  molecule/default/converge.yml
  molecule/default/molecule.yml
  molecule/default/prepare.yml
Due: yamllint, ansible-lint

Fix typo (skip ci)
  molecule/default/prepare.yml
Due: yamllint, ansible-lint

Simplify molecule testing
  molecule/default/tests/test_default.py
  molecule/default/tests/utils.py
  molecule/default/vars/all.yml
Due: black, flake8, isort, yamllint, ansible-lint

Add markdownlint-cli2 to linting
  .pre-commit-config.yaml
  Makefile
  README.md.j2
Due: yamllint, ansible-lint

Update linting tools in Makefile and update github actions
  .github/workflows/ci.yml
  Makefile
  README.md.j2
Due: yamllint, ansible-lint

Update python version in molecule test ci
  .github/workflows/ci.yml
Due: yamllint, ansible-lint

Update testing tools
  .actrc
  .github/workflows/ci.yml
  Makefile
  README.md.j2
Due: yamllint, ansible-lint

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  ansible-lint: any of: \.(yaml|yml)$
